signalr-sql-dependency-push-notification/PushNotification/Content/* linguist-vendored
signalr-sql-dependency-push-notification/PushNotification/Scripts/* linguist-vendored

*.sql linguist-detectable=true
